<ul class="social-media-list">
{%- for entry in site.minima.social_links -%}
  {%- include social-item.html item = entry -%}
{%- endfor -%}
  <li>
  <a rel="me" href="https://app.hackthebox.com/users/274909" target="_blank" title="HackTheBox">
    <img src="/assets/htb.svg" class="svg-icon grey" />
  </a>
  <a rel="me" href="https://profile.hackthebox.com/profile/019e1ce8-be30-7364-9463-1ccb5c28ddac?utm_medium=copy_url" target="_blank" title="HackTheBox">
    <img src="/assets/htb.svg" class="svg-icon grey" />
  </a>
</li>
</ul>
